body {
    margin: 2px;
    padding: 2px;
}

header {
    width: 100%;
    height: 80px;
    display: inline-block;
    display: flex;
     
}
ul {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    padding: 2px;
    margin: 2px;
}

.highscore {
    float:right;
    display: inline;
}

div.highscore {
    margin-left: 36%
}

.timer {
    float:left;
    display: inline;
}

.timebox {
    border: solid;
    width: 20px;
}

.start-button {
    margin: 2px;
    padding: 2px;
    display: inline;
}

button.startbutt {
    margin-left: 35%;
    width: 136px;
    height: 37px;
    margin-top: 20px
}

.questionbox {
    border: solid 2px;
    width: 750px;
    height: 135px;
}

.answerbox{
    border: solid 2px;
    display: flex;
    flex-wrap: wrap;


}

.ansbutton {
    width: 350px;
    height: 95px;
}