body {
    margin: 2px;
    padding: 2px;
}

header {
    width: 100%;
    height: 80px;
    display: inline-block;
    display: flex;
     
}

section {
    max-width: 90%;
}

ul {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    padding: 2px;
    margin: 2px;
}

.highscore {
    float:right;
    display: inline;
}

div.highscore {
    margin-left: 36%
}

.timer {
    float:left;
    display: inline;
}

.timebox {
    border: solid;
    width: 20px;
}

.start-button {
    margin: 2px;
    padding: 2px;
    display: inline;
}

button.startbutt {
    margin-left: 35%;
    width: 136px;
    height: 37px;
    margin-top: 20px
}

.inst {
    margin-left: 25%;
    width: 60%;
}

.qnabox {
    margin-left: 25%;
}
.question {
    border-bottom: solid 2px red;
    width: 750px;
    height: 45px;
    margin: 10px;
}

.answerbox{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: -30px;


}

.ansbutton {
    width: 400px;
    height: 95px;
}

.intro {
    
}